/* =============================================================================
   Layout
   ========================================================================== */

body {
	font-size : 76%;
}

/* 12px in most modern browsers - used as basis of layout and typography.
 * Calculate em based dims as: target dim(px) / container dim(px) = result in em
 */

#body-container,
#header-above {
	margin  : 0 auto;
	padding : 0;
}

#load-first,
#footer-above {
	float : left;
}

#footer-above {
	width : 100%;
}

/* =============================================================================
   See http://www.alistapart.com/articles/holygrail/
   ========================================================================== */

#body-container {
	min-width : 50em; /* 2x LC width + RC width */;
}

.alpha-1-main #content-container,
.alpha-2-main #content-container {
	padding-left : 200px; /* LC width */;
}

.main-beta-1 #content-container,
.main-beta-2 #content-container {
	padding-right : 200px; /* RC width */;
}

.alpha-1-main-beta-1 #content-container,
.alpha-2-main-beta-1 #content-container,
.alpha-1-main-beta-2 #content-container,
.alpha-2-main-beta-2 #content-container {
	padding-left  : 200px; /* LC width */
	padding-right : 200px; /* RC width */;
}

#content-main,
#column-group-alpha,
#column-group-beta {
	position : relative;
	float    : left;
}

#content-main {
	width : 100%;
}

#column-group-alpha {
	width       : 200px; /* LC width */
	right       : 200px; /* LC width */
	margin-left : -100%;
}

#column-group-beta {
	width        : 200px; /* RC width */
	margin-right : -200px; /* RC width */;
}

/* =============================================================================
   spacing rules
   ========================================================================== */

.gutter {
	margin : 10px;
}

header .gutter {
	margin-top : 0;
}

footer .gutter {
	margin-bottom : 0;
}

#column-group-alpha .gutter {
	margin : 0 10px 0 0;
}

#column-group-beta .gutter {
	margin : 0 0 0 10px;
}

/* =============================================================================
   dynamic module widths
   ========================================================================== */

.count-1 {
	float : left;
	width : 100%;
}

.count-2 {
	float : left;
	width : 50%;
}

.count-3 {
	float : left;
	width : 33.3%;
}

.count-4 {
	float : left;
	width : 25%;
}

.count-5 {
	float : left;
	width : 20%;
}

.count-6 {
	float : left;
	width : 16.6%;
}

/* =============================================================================
   column widths
   ========================================================================== */

.cols-1 {
	display : block;
	float   : none !important;
	margin  : 0 !important;
}

.cols-2 .item {
	width   : 47.8%;
	padding : 1%;
}

.cols-3 .item {
	width   : 30.9%;
	padding : 1%;
}

.cols-4 .item {
	width   : 22.4%;
	padding : 1%;
}

.cols-5 .item {
	width   : 18.1%;
	padding : 1%;
}

.cols-6 .item {
	width   : 14.8%;
	padding : 1%;
}

.cols-2 .item,
.cols-3 .item,
.cols-4 .item,
.cols-5 .item,
.cols-6 .item {
	float : left;
}

.column-1,
.items-more {
	clear : both;
}
